<div class="row btn-page">
    <div class="col-12">
        <h5>Administración Ubicaciones</h5>
        <hr>
    </div>
    <hr>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <button class="btn btn-success btn-block" (click)="NewLocation(false)" [disabled]="activeEdit">
                    Agregar
                </button>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <button class="btn btn-info btn-block" (click)="NewLocation(true)" [disabled]="activeEdit">
                    Duplicar
                </button>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" #searchControl
                        (keyup)="gridMapper.FilterRows(searchControl.value.toLowerCase())" placeholder="Buscar">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 1em;">
                <ngx-datatable #dataTable class="material" [rows]="gridMapper.DisplayRows" [rowClass]="getRowClass"
                    [columnMode]="gridMapper.ColumnMode.force" [columns]="gridMapper.Columns" [headerHeight]="50"
                    [footerHeight]="50" rowHeight="auto" [scrollbarH]="true" [limit]="15"
                    [messages]="gridMapper.Messages" [selected]="gridMapper.SelectedRows"
                    [selectionType]="gridMapper.SelectionType.single" [selectAllRowsOnPage]="false">
                </ngx-datatable>
                <ng-template #RackTemplate ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                    let-row="row">
                    <span *ngIf="!editing[rowIndex]">
                        {{ value }}
                    </span>
                    <input autofocus class="form-control" placeholder="Mueble" style="width: 100%;" 
                        (keyup)="updateValue($event, 'Rack', rowIndex)"  *ngIf="editing[rowIndex]" type="text"
                        [value]="value" />
                </ng-template>
                <ng-template #RowTemplate ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                    let-row="row">
                    <span *ngIf="!editing[rowIndex]">
                        {{ value }}
                    </span>
                    <input autofocus class="form-control" placeholder="Fila" style="width: 100%;"
                        (keyup)="updateValue($event, 'Row', rowIndex)" placeholder="Fila" *ngIf="editing[rowIndex]" type="text"
                        [value]="value" />
                </ng-template>
                <ng-template #ColumnTemplate ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                    let-row="row">
                    <span *ngIf="!editing[rowIndex]">
                        {{ value }}
                    </span>
                    <input autofocus class="form-control" placeholder="0.0.0.0" style="width: 100%;"
                        (keyup)="updateValue($event, 'Column', rowIndex)" placeholder="Columna" *ngIf="editing[rowIndex]" type="text"
                        [value]="value" />
                </ng-template>
                    <ng-template #SideTemplate ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                    let-row="row">
                    <span *ngIf="!editing[rowIndex]">
                        {{ value }}
                    </span>
                    <input autofocus class="form-control" placeholder="0.0.0.0" style="width: 100%;"
                        (keyup)="updateValue($event, 'Side', rowIndex)" placeholder="Lado" *ngIf="editing[rowIndex]" type="text"
                        [value]="value" />
                </ng-template>
                <ng-template #LocationNameTemplate ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                    let-row="row">
                    <span *ngIf="!editing[rowIndex]">
                        {{ value }}
                    </span>
                    <input autofocus class="form-control" style="width: 100%;" readonly
                        (keyup)="updateValue($event, 'Location', rowIndex)" placeholder="Ubicación" *ngIf="editing[rowIndex]" type="text"
                        [value]="value" />
                </ng-template>
                <ng-template #SwitchTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
                    <div class="switch switch-primary">
                        <input type="checkbox" [id]="'switch'+rowIndex" class="align-middle"
                            [disabled]="!editing[rowIndex]" [checked]="value"
                            (change)="updateValue($event, 'Active', rowIndex)">
                        <label [for]="'switch'+rowIndex" class="cr" style="margin-top: -10%;"></label>
                    </div>
                </ng-template>
                <ng-template #ActionsTemplate ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-info" *ngIf="!editing[rowIndex]" [disabled]="activeEdit"
                                (click)="editing[rowIndex] = true; activeEdit=true; ">
                                <i class="fas fa-edit" title="Editar"></i>
                            </button>
                            <button class="btn btn-success" *ngIf="editing[rowIndex]" (click)="SaveChanges(rowIndex)">
                                <i class="fas fa-check" title="Guardar"></i>
                            </button>
                             <button class="btn btn-danger" *ngIf="editing[rowIndex]" (click)="CancelLocation()">
                                <i class="fas fa-window-close" title="Cancelar"></i>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<ng2-toasty [position]="'bottom-right'"></ng2-toasty>