<app-ui-modal ([ngModel])="ModalWindow" #ModalWindow class="ModalSchema" [hideFooter]="true" [containerClick]="false"
    [dialogClass]="'modal-xl'">
    <div class="app-modal-header">
        <h5 class="modal-title">{{ModalWindow.title}}</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="Finish()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-12">
                    Nro Devolución: {{this.businessOrder.CurrentReturn.ReturnNumber}}
                </div>
            </div>
            <hr>
            <form #ReturnOrderForm="ngForm">
                <div class="row">
                    <div class=" col-md-4 col-sm-3 col-xs-12">
                        <label for="">Nro Orden *</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="OrderNumber"
                                (keyup.enter)="GetProducts(OrderNumber.value)" #OrderNumber="ngModel"
                                [(ngModel)]="this.businessOrder.CurrentReturn.OrderNumber" required>
                            <div class="input-group-append">
                                <button class="btn btn-info btn-outline" (click)="GetProducts(OrderNumber.value)"
                                    type="button" [disabled]="this.onActionProducts">
                                    <span *ngIf="this.onActionProducts" class="spinner-grow spinner-grow-sm"
                                        role="status"></span>
                                    <span *ngIf="!this.onActionProducts" class="btn-text"><i
                                            class="fas fa-search"></i></span>
                                </button>

                            </div>
                        </div>
                    </div>
                    <div class=" col-md-8 col-sm-5 col-xs-12">
                        <label for="">Producto*</label>
                        <ng-select [items]="products" bindLabel="Name" bindValue="Code" name="Product"
                            #Product="ngModel" [(ngModel)]="this.businessOrder.CurrentReturn.ProductCode"
                            notFoundText="No se encontraron productos." appendTo="body" required></ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-4 col-sm-5 col-xs-12">
                        <label for="">Motivo*</label>
                        <ng-select [items]="reasons" bindLabel="Value" bindValue="Key" name="Reason" #Reason="ngModel"
                            [(ngModel)]="this.businessOrder.CurrentReturn.ReasonId"
                            notFoundText="No se encontraron motivos." appendTo="body" required></ng-select>
                    </div>
                    <div class=" col-md-4 col-sm-4 col-xs-12">
                        <label for="">Paquetes*</label>
                        <input type="text" class="form-control" name="PackagesNumber" #PackagesNumber="ngModel"
                            [(ngModel)]="this.businessOrder.CurrentReturn.PackagesNumber" required>
                    </div>
                    <div class=" col-md-4 col-sm-5 col-xs-12">
                        <label for="">Bodega Devolución*</label>
                        <ng-select [items]="warehouses" bindLabel="Name" bindValue="Code" name="Warehouses"
                            #Warehouses="ngModel"
                            [(ngModel)]="this.businessOrder.CurrentReturn.DestinationWarehouseCode"
                            notFoundText="No se encontraron Bodegas." appendTo="body" required></ng-select>
                    </div>

                </div>
                <div class="row" style="margin-top: 1em;">
                    <div class="col-12">
                        <label for="">Observaciones:</label>
                        <textarea class="form-control" rows="3" name="Observations"
                            [(ngModel)]="this.businessOrder.CurrentReturn.ReturnObservations"
                            #Observations="ngModel"></textarea>
                    </div>
                </div>

            </form>

        </app-card>


        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="Finish()">Cancelar</button>
                <button class="btn btn-primary event-btn" type="button" (click)="SaveOrder()"
                    [disabled]="this.onActionSave">
                    <span *ngIf="this.onActionSave" class="spinner-grow spinner-grow-sm" role="status"></span>
                    <span *ngIf="this.onActionSave" class="load-text">Guardando...</span>
                    <span *ngIf="!this.onActionSave" class="btn-text">Guardar</span>
                </button>
            </div>
        </div>


    </div>
</app-ui-modal>