<app-ui-modal ([ngModel])="ModalWindow" #ModalWindow class="ModalSchema" [hideFooter]="true" [containerClick]="false"
    [dialogClass]="'modal-xl'">
    <div class="app-modal-header">
        <h5 class="modal-title">Desasignación</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="Finish()"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <strong>Nro Desasignación:</strong> {{this.business.CurrentDeallocation.DeallocationNumber}}
                </div>
                <div class="col-md-3 col-sm-2 col-xs-12">
                    <strong>Orden:</strong> {{this.business.CurrentDeallocation.OrderNumber}}
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                    <strong>Producto:</strong> {{this.business.CurrentDeallocation.ProductName}}
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <strong>Tipo:</strong> {{this.business.CurrentDeallocation.StorageTypeName}}
                </div>
                <div class="col-md-9 col-sm-6 col-xs-12">
                    <strong>Numeración:</strong> {{this.business.CurrentDeallocation.Numeration}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <strong>Observaciones:</strong> {{this.business.CurrentDeallocation.Observations}}
                </div>
            </div>


            <div class="row" style="margin-top: 1em;">
                <div class=" col-md-4 col-sm-6 col-xs-12">
                    <label for="">Etiqueta*</label>
                    <input type="text" class="form-control" #Tag="ngModel" [(ngModel)]="FieldTag" name="Tag"
                        (keyup.enter)="SaveDeallocation()" required>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12" style="margin-top: 2em;">
                    <button class="btn btn-info" type="button" (click)="SaveDeallocation()"
                        [disabled]="this.onActionConfirm">
                        <span *ngIf="this.onActionConfirm" class="spinner-grow spinner-grow-sm" role="status"></span>
                        <span *ngIf="this.onActionConfirm" class="load-text">Confirmando</span>
                        <span *ngIf="!this.onActionConfirm" class="btn-text">Confirmar</span>
                    </button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-xl-8 col-md-12 col-sm-12 col-xs-12" style="margin-top: 1em;">
                    <ngx-datatable #dataTable class="material" [rows]="gridMapper.DisplayRows" [rowClass]="getRowClass"
                        [columnMode]="gridMapper.ColumnMode.force" [columns]="gridMapper.Columns" [headerHeight]="50"
                        [footerHeight]="50" rowHeight="auto" [scrollbarH]="true" [limit]="15"
                        [messages]="gridMapper.Messages" [selectAllRowsOnPage]="false">
                    </ngx-datatable>
                </div>
            </div>

            <div class="row" style="margin-top: 1em;">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <strong>Cant. Item:</strong> {{this.infoQuantity.Items}}
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <strong>Cant. Items por confirmar:</strong> {{this.infoQuantity.ItemsToConfirm}}
                </div>
            </div>

            <div class="row" style="margin-top: 1em;">
                <div class="col-12">
                    <label for="">Observaciones:</label>
                    <textarea class="form-control" rows="3" name="Observations" [(ngModel)]="this.ObservationsModal"
                        #Observations="ngModel"></textarea>
                </div>
            </div>
        </app-card>


        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="Finish()">Cancelar</button>
                <button class="btn btn-primary event-btn" type="button" (click)="FinishDeallocation()"
                    [disabled]="this.onActionSave">
                    <span *ngIf="this.onActionSave" class="spinner-grow spinner-grow-sm" role="status"></span>
                    <span *ngIf="this.onActionSave" class="load-text">Terminando...</span>
                    <span *ngIf="!this.onActionSave" class="btn-text">Terminar</span>
                </button>
            </div>
        </div>


    </div>
</app-ui-modal>