<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <app-card cardTitle="Etiqueta Caja Producto Semiterminado" [options]="false">
          <form #applicationForm="ngForm">
              <div class="form-row">
                  <div class="form-group col-7 col-md-8">
                      <label for="internalTag">Etiqueta Universal Producto *</label>
                      <div class="input-group">
                          <input class="form-control" name="UniversalTag" [(ngModel)]="universalTagText" autocomplete="off"
                          maxlength="64" #UniversalTag="ngModel" (keyup.enter)="AddUniversalTag()" appAutofocus >
                          <div class="input-group-append">
                              <button class="btn btn-primary d-sm-block" [hidden]="" type="button" (click)="AddUniversalTag()" title="Confirmar">
                                  <i class="fas fa-check-circle" *ngIf="!onAction"></i>
                                  <span *ngIf="onAction" class="spinner-border spinner-border-sm"
                                      role="status"></span>
                              </button>
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-5 col-md-4">
                      <label for="rePrint" style="width: 100%;">Reimpresión?</label>
                      <div class="switch switch-primary d-inline m-r-10">
                          <input type="checkbox" id="rePrint" name="rePrint" [(ngModel)]="rePrintCheck"
                              #rePrint="ngModel">
                          <label for="rePrint" class="cr" style="margin-top: -0.5em;margin-left: 1.5em;"></label>
                      </div>
                  </div>
              </div>
              <div class="row" *ngIf="rePrintCheck">
                <div class="form-group col-7 col-md-8">
                  <label for="">Etiqueta Externa</label>
                  <input class="form-control" name="ExternalTag" [(ngModel)]="this.externalTagText" autocomplete="off"
                          maxlength="64" #ExternalTag="ngModel" >
                </div>
              </div>
          </form>
          <hr>
          <app-card cardTitle="Etiquetas Leídas: {{universalTags.length}}" [options]="false">
              <div *ngFor="let item of universalTags">
                  {{item}}
              </div>
          </app-card>
      </app-card>
  </div>

  <div class="col-sm-12" style="text-align: center;">
      <button type=" button" class="btn btn-secondary" data-dismiss="modal" (click)="Cancel()">Cancelar</button>
      &nbsp;&nbsp;
     <button class="btn btn-primary event-btn" type="button" (click)="GenerateTag()" [disabled]="this.onAction">
          <span *ngIf="this.onAction" class="spinner-grow spinner-grow-sm" role="status"></span>
          <span *ngIf="this.onAction" class="load-text">Generando...</span>
          <span *ngIf="!this.onAction" class="btn-text">Generar Etiqueta</span>
      </button>
  </div>
</div>


<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
