<div class="row btn-page">
    <div class="col-12">
        <h5>Generar Etiqueta Heredada</h5>
        <hr>
    </div>
    <div class="col-12">
        <app-card [hidHeader]="true">
            <form #Form="ngForm">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="OrderNumber">Código barras etiqueta patrón*</label>
                        <div class="input-group">
                            <input type="text" class="form-control" required name="OrderNumber" #OrderNumber="ngModel"
                                autocomplete="off" [(ngModel)]="this.business.CurrentInheritedUTag.UniversalTagBase"
                                (keyup.enter)="GetUniversalTag()">
                            <div class="input-group-append">
                                <button class="btn" [ngClass]="CurrentUniversalTag===null?'btn-primary':'btn-success'"
                                    type="button" (click)="GetUniversalTag()">
                                    <i class="fas fa-search" *ngIf="onActionBarCode"></i>
                                    <span *ngIf="!onActionBarCode" class="spinner-border spinner-border-sm"
                                        role="status"></span>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-md-4 col-xl-4">
                        <label for="TemplateType">Tipo Plantilla*</label>
                        <ng-select [items]="optionsTemplateType" appendTo="body" required name="TemplateType"
                            #TemplateType="ngModel" bindLabel="Value" bindValue="Key"
                            [(ngModel)]="business.CurrentInheritedUTag.TemplateTypeId"
                            notFoundText="No se encontraron tipos de plantilla">
                        </ng-select>
                    </div>
                    <div class="form-group col-12 col-md-4 col-xl-4" >
                        <label for="QuantityToPrint">Cant. Imprimir*</label>
                        <input type="number" class="form-control" required name="QuantityToPrint"
                            #QuantityToPrint="ngModel" [(ngModel)]="business.CurrentInheritedUTag.QuantityToPrint">
                    </div>
                    <div class="form-group col-12 col-md-4 col-xl-4">
                        <label for="Quantity">Cantidad UE*</label>
                        <input type="number" class="form-control" required name="Quantity" #Quantity="ngModel"
                            [(ngModel)]="business.CurrentInheritedUTag.Quantity">
                    </div>


                </div>

            </form>
        </app-card>

        <div class="row" style="justify-content: center;">

            <div class="col-12 col-md-4 col-xl-2"> <a routerLink="/dashboard/analytics" routerLinkActive="active"
                    class="btn btn-block btn-dark">Cancelar</a>
            </div>
            <div class="col-12 col-md-4 col-xl-2"> <button type="button" class="btn btn-block btn-info"
                    (click)="OpenModalPrint()">Previsualizar</button>
            </div>

        </div>
    </div>
    <app-universal-tag-preview #PreviewComponent (Print)="onPrint($event)"></app-universal-tag-preview>
    <ng2-toasty [position]="'bottom-right'"></ng2-toasty>
</div>
