<div class="row btn-page">
    <div class="col-12">
        <h5>Desasignación</h5>
        <hr>
    </div>
    <hr>
    <div class="col-sm-12">

        <ngb-accordion [closeOthers]="false" activeIds="static-1" class="gradientaccordion" [destroyOnHide]="false">
            <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                    <h4><a href="javascript:"><i class="feather icon-search float-left"></i><span> Búsqueda</span> </a>
                    </h4>
                </ng-template>
                <ng-template ngbPanelContent>
                    <app-dynamic-form-host #DynamicForm></app-dynamic-form-host>
                    <div class="form-row justify-content-end">

                        <div class="form-group col-md-2">
                            <button class="btn btn-secondary btn-block" type="button"
                                (click)="this.DynamicForm.CleanForm()">Limpiar</button>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-primary event-btn btn-block" (click)="SearchFilter()"
                                [disabled]="this.onActionSearch" type="button">
                                <span *ngIf="this.onActionSearch" class="spinner-border spinner-border-sm"
                                    role="status"></span>
                                <span *ngIf="this.onActionSearch" class="load-text">Cargando...</span>
                                <span *ngIf="!this.onActionSearch" class="btn-text">Buscar</span>
                            </button>
                        </div>

                    </div>

                </ng-template>
            </ngb-panel>
        </ngb-accordion>



    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12" *ngIf="AddDeallocationPermission">
                <button class="btn btn-success btn-block" (click)="EditDeallocation(true)">
                    Agregar
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12" *ngIf="EditDeallocationPermission">
                <button class="btn btn-info btn-block" (click)="EditDeallocation(false)">
                    Editar
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12" *ngIf="CancelDeallocationPermission">
                <button class="btn btn-danger btn-block" (click)="CancelOrder()">
                    Anular
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12" *ngIf="DeallocatePermission">
                <button class="btn btn-warning btn-block" type="button" (click)="OpenDeallocate()"
                    [disabled]="this.onActionDeallocate">
                    <span *ngIf="this.onActionDeallocate" class="spinner-grow spinner-grow-sm" role="status"></span>
                    <span *ngIf="!this.onActionDeallocate" class="btn-text">Desasignar</span>
                </button>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
                <button class="btn btn-dark btn-block" (click)="ExportExcel()">
                    Exportar a excel
                </button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row" style="margin-top: 1em;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ngx-datatable #dataTable class="material" [rows]="gridMapper.DisplayRows"
                    [columnMode]="gridMapper.ColumnMode.force" [columns]="gridMapper.Columns" [headerHeight]="50"
                    [footerHeight]="50" rowHeight="auto" [scrollbarH]="true" [limit]="15"
                    [selected]="gridMapper.SelectedRows" [selectionType]="gridMapper.SelectionType.single"
                    [messages]="gridMapper.Messages" (activate)="OnActivate($event)"></ngx-datatable>

            </div>
        </div>
    </div>



    <app-deallocation-order #DeallocationOrder (finishEvent)="CloseModal()">
    </app-deallocation-order>

    <app-deallocate #Deallocate (finishEvent)="CloseModal()">
    </app-deallocate>



</div>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>