<div class="row btn-page">
    <div class="col-12">
        <h5>Consulta de Ubicaciones</h5>
        <hr>        
    </div>    
    <div class="col-sm-12">
        <ngb-accordion [closeOthers]="true" activeIds="static-1" class="gradientaccordion" [destroyOnHide]="false">
            <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                    <h4><a href="javascript:"><i class="feather icon-search float-left"></i><span> Búsqueda</span> </a>
                    </h4>
                </ng-template>
                <ng-template ngbPanelContent>

                    <app-dynamic-form-host #DynamicForm></app-dynamic-form-host>

                    <div class="form-row justify-content-end">
                        <div class="form-group col-md-2">
                            <button class="btn btn-secondary btn-block" type="button"
                                (click)="this.DynamicForm.CleanForm()">Limpiar</button>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-primary event-btn btn-block" (click)="Search()"
                                [disabled]="this.onActionSearch" type="button">
                                <span *ngIf="this.onActionSearch" class="spinner-border spinner-border-sm"
                                    role="status"></span>
                                <span *ngIf="this.onActionSearch" class="load-text">Buscando...</span>
                                <span *ngIf="!this.onActionSearch" class="btn-text">Buscar</span>
                            </button>
                        </div>

                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-info btn-block" (click)="ExportExcel()">Exportar a Excel </button>
            </div>                        
        </div>    
        <hr>
    </div>
    
    <div class="col-12">
        <ngx-datatable #dataTable class="material expandable" [rows]="gridMapper.DisplayRows" [scrollbarH]="true"
        [columnMode]="gridMapper.ColumnMode.force" [columns]="gridMapper.Columns" [headerHeight]="50"
        [footerHeight]="50" rowHeight="auto" [limit]="15" [selected]="gridMapper.SelectedRows"
        [selectionType]="gridMapper.SelectionType.single" [messages]="gridMapper.Messages"
        ></ngx-datatable>       
    </div>   
</div>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>